html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 80px;
}

.showtime-box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.showtime-box:hover {
    background-color: #d32f2f;
}

.seat-layout {
    display: flex;
    flex-direction: column;
}

layout.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.seat {
    width: 6rem;
    height: 6rem;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.reserved {
    background-color: #f00;
}

.selected {
    background-color: rgba(255, 0, 0, 0.5);
}

i.fa-chair {
    font-size: 24px;
    color: #000;
}

i.fa-chair.reserved {
    color: #fff;
}

i.fa-chair.selected {
    color: #fff;
}
