@{
    ViewData["Title"] = "Home";
}

<section class="hero">
    <div class="container mb-5 text-center">
        <h1>Welcome to Cinemania</h1>
        <h2> Here you can experience the best movie experience in Bulgaria</h2>
    </div>
</section>
<section class="movies">
    <div class="container">
        <h2>Now Showing</h2>
        <div class="row d-flex align-items-end">
            <div class="row">
                <div class="col-md-12">
                    <partial name="_MovieCarousel" model="@Model" />
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a asp-controller="Cinema" asp-action="All" class="btn btn-secondary btn-lg text-center mt-3 position-relative">Book Tickets</a>
    </div>    
</section>