@model IEnumerable<MovieCardViewModel>

<section class="hero">
    <div class="container mb-5 text-center">
        <h1>Welcome to Cinemania</h1>
        <h2>Experience the best movies in Bulgaria</h2>
        <a href="#" class="btn btn-secondary btn-lg">Book Tickets</a>
    </div>
</section>
<section class="movies">
    <div class="container">
        <h2>Now Showing</h2>
        <div class="row d-flex align-items-end">
            @foreach (var movie in Model)
            {
                <partial name="_MovieCardPartial", model="@movie"/>
            }
        </div>
    </div>
</section>
